{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "mocha": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.base.js"
      }
    }
  },
  "plugins": [
    "import"
  ]
}
